



body	{
	background: red !important ;
}
#maindiv	{
	border: 2px solid cyan ;
	height: 400px ;
	position: absolute;
	top: 120px ;
	left: 25% ;
	width: 50% ;
	text-align: center;
}

.input{
	margin-top: 10px ;
}

#pass{
	height: 50px ;
	font-size: 25px ;
	/*font-height: 10px ;*/
	font-weight: bolder;
	font-family: "Arial Black" /*'Cabbagetown'*/ ;
}

.lower_case{
	text-transform: lowercase !important;
}